@import "variables.scss";

.main-bg{
    background: linear-gradient(to right,$withe-color,#FEEAE6);
    height: 100vh;
}

.header-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-evenly;
}

.header{
    font-size: 3rem;
}

.text{
    font-size:1.4rem;
    font-weight: 300;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.bg-circle{
    width: 100%;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(to right, $withe-color,#EABF94);
}

 .bg-circle .txt{
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 1.9rem;
    letter-spacing: -20px;
}

.bg-circle .txt .icons{
    color: $withe-color;
    font-size: 2rem;
}