.main-bg{
    background: linear-gradient(to right,#FFFFFF,#FEEAE6);
}

.header-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    margin-top: -200px;
}