@import "variables.scss";

.container{
    background-image: url(../images/loginbg.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}

.row{
    min-height: 90vh;
}

.header-txt{
    color: $brown-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    min-height: 50%;
}
