@import "variables.scss";

.container{
    background-image: url(../images/loginbg.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}

.row{
    min-height: 90vh;
}

.header-txt{
    color: $brown-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    min-height: 10%;
    margin-top: 11rem;
}

.form-login{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.form-login .inputs-form input{
    border: 1px solid #4b4b4b;
    border-radius: 10px;
    outline: none;
    height: 45px;
    width: 100%;
    padding: 10px;
    margin-left: 40px;
    margin: 10px 0 10px 0;
}
