@import "variables.scss";

.nav-btn{
    color:$black-color ;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid $black-color;
    border-radius: 30px;
    padding: 5px 35px 5px 35px;
    transition: 1s;
    width: 10%;
    // margin-top: 10px; for mobile devices
    &:hover{
        color: $withe-color;
        background-color: $brown-primary;
        box-shadow: 1px 1px 8px 5px #00000046;
    }
}

.nav-item{
    width: 20%;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.nav-item .nav-items{
    color: $black-color;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.5s;
    

    &:hover{
        border-bottom: 1px solid #EABF94;
        text-shadow: 2px 2px 6px #00000045;
        cursor: pointer;
    }
}

.logo{
    width: 10vw;
}

@media (max-width: 767px){
    .nav-btn{
        font-size: 1rem;
        padding: 5px 45px 5px 45px;
        width: 90%;
        // margin:10px 20px 10px 20px ;
        justify-content: center;
    }
    .nav-item{
        width: 100%;
    }
    .nav-item .nav-items{
        font-size:1rem;
        font-weight: 300;
    }
    .logo{
        width: 10vw;
    }
}