.container {
  background-image: url(../images/loginbg.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

.row {
  min-height: 90vh;
}

.header-txt {
  color: #C5A17D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: 10%;
  margin-top: 11rem;
}

.form-login {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.form-login form {
  width: 20vw;
}

.form-login .inputs-form input {
  border: 1px solid #4b4b4b;
  border-radius: 10px;
  outline: none;
  height: 45px;
  width: 100%;
  padding: 10px;
  margin: 10px 0 10px 0;
}

.form-login .txt a span {
  color: #C5A17D;
  font-size: 0.9rem;
  text-decoration: none;
}

.form-login .txt-signin-login_black a span {
  color: black;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.form-login .txt-signin-login_black a:link {
  text-decoration: none;
}

.form-login .txt-signin-login a span {
  font-size: 0.9rem;
  color: #C5A17D;
  display: flex;
  justify-content: center;
}

.form-login .txt-signin-login a:link {
  text-decoration: none;
}

.form-login .txt a:link {
  text-decoration: none;
}

.form-login .btn-login {
  color: #fff;
  background-color: #C5A17D;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  transition: 0.5s;
  margin-top: 30px;
  margin-bottom: 30px;
}
.form-login .btn-login:hover {
  box-shadow: 5px 5px 15px 5px rgba(197, 161, 125, 0.3);
  background-color: #fff;
  color: #C5A17D;
  transition: 0.5s;
  border: 1px solid #C5A17D;
  cursor: pointer;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .header-txt {
    font-size: 1rem;
  }
  .form-login form {
    width: 30vw;
  }
  .form-login .txt a span {
    font-size: 0.5rem;
  }
  .form-login .txt-signin-login_black a span {
    font-size: 0.6rem;
  }
  .form-login .txt-signin-login a span {
    font-size: 0.6rem;
  }
  .form-login .btn-login {
    font-size: 0.6rem;
    padding: 4px;
  }
}
.nav-btn {
  color: #121212;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #121212;
  border-radius: 30px;
  padding: 5px 35px 5px 35px;
  transition: 1s;
  width: 10%;
}
.nav-btn:hover {
  color: #fff;
  background-color: #C5A17D;
  box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.2745098039);
}

.nav-item {
  width: 20%;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.nav-item .nav-items {
  color: #121212;
  font-size: 14px;
  font-weight: 500;
  transition: 0.5s;
}
.nav-item .nav-items:hover {
  border-bottom: 1px solid #EABF94;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2705882353);
  cursor: pointer;
}

.main-bg {
  background: linear-gradient(to right, #fff, #FEEAE6);
  height: 100vh;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.header {
  font-size: 3rem;
}

.text {
  font-size: 1.4rem;
  font-weight: 300;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.bg-circle {
  width: 100%;
  height: 60px;
  border-radius: 50px;
  background: linear-gradient(to right, #fff, #EABF94);
}

.bg-circle .txt {
  height: 80px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 1.9rem;
  letter-spacing: -20px;
}

.bg-circle .txt .icons {
  color: #fff;
  font-size: 2rem;
}

@font-face {
  font-family: Ravi;
  src: url(../fonts/Ravi/Ravi-Regular.ttf);
  font-family: Ravi-Medium;
  src: url(../fonts/Ravi/Ravi-Medium.ttf);
  font-family: Ravi-Bold;
  src: url(../fonts/Ravi/Ravi-Bold.ttf);
  font-family: Ravi-Light;
  src: url(../fonts/Ravi/Ravi-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ravi, sans-serif;
}

/*# sourceMappingURL=main.css.map */
